<!DOCTYPE html>
<html>
{{>head}}

<body>
  {{>header}}
  <main>
    <div class="container">
      <div class="row mx-auto" id="about">
        {{#with about}}
          <div class="row">
            <section class="col-lg-8 col-12 mx-auto">
              <h1>{{header}}</h1>
              {{#each items}}
                <h4>{{heading}}</h4>
                {{#each texts}}
                  <p>{{text}}</p>
                {{/each}}
              {{/each}}
              <h3>{{clientsHeader}}</h3>
              <p>{{clients}}</p>
            </section>
          </div>
        {{/with}}
      </div>
      <div class="row">
        <section class="col-lg-8 col-12 mt-2 mx-auto">
          {{#with contact}}
            <h2 class="text-center">{{heading}} <i class="{{contactIcon}}"></i></h2>
            <div class="col-lg-12 col-12 mt-5 mx-auto" id="map">
            </div>
            <div class="col-lg-4 col-12 mt-5 mx-auto">
              <a href="mailto:{{email}}" class="text-dark" id="emailLink" data-toggle="tooltip" title="Klicka för att skicka Email">
                <p><i class="{{iconEmail}}"></i> {{email}}</p>
              </a>
              <p>{{adressCity}}</p>
              <p>{{adressStreet}}</p>
              <a href="tel: {{phone}}" class="text-dark" id="emailLink">
                <p><i class="{{iconPhone}}"></i> {{phone}}</p>
              </a>
            </div>
          {{/with}}
        </section>
      </div>
    </div>
  </main>
  {{>footer}} {{>scripts}}
</body>

</html>
