<!DOCTYPE html>
<html>
{{>head}}

<body>
  {{>header}}

  <main>
    {{#with topImage}}
    <div class="background-image" style="background-image: url(/assets/img/{{image}});">
      <h1 class="centerd text-light text-center">{{title}}<p class="text-light text-center lead">{{subText}}</p></h1>

    </div>
    {{/with}}
    <div class="container-fluid">
      <div class="row">
        {{#with firstPart}}
        <section class="col-12">
          <h1 class="text-center mt-3">{{title}}</h1>
          <p>{{text}}</p>
          {{#each cards}}
          <div class="row mt-2">
            <div class="jumbotron col-lg-10 col-12 mx-auto m-2 p-1 text-light" id="{{indexJumbotronId}}" style="background-image: url(/assets/img/{{image}});">
              <h1 class="">{{header}}</h1>
              <p class="lead">{{text}}</p>
              <a class="btn btn-dark btn-lg m-1 text-center" href="{{link}}" role="button">{{linkText}}</a>
            </div>
          </div>
          {{/each}}
        </section>
        {{/with}}
      </div>
    </div>
  </main>
  {{>footer}} {{>scripts}}
</body>

</html>
