<!DOCTYPE html>
<html>
{{>head}}

<body>
  {{>header}}

  <main>
    {{#with topImage}}
    <div class="background-image" style="background-image: url(/assets/img/{{image}});">
       <div class="centerd">
         <h1 class="mt-1">{{titleOne}}</h1>
         <h1 class="mt-1">{{titleTwo}}</h1>
         <h1 class="mt-1">{{titleThree}}</h1>
       </div>
       <div class="centerdBtn">
         <h1><a href="#target" class="text-light"><i class="fas fa-arrow-circle-down"></i></a></h1>
       </div>
    </div>
    {{/with}}
    <div class="" id="target"></div>
    <div class="container-fluid">
      <div class="row">
        {{#with Heading}}
        <div class="col-12 text-center textFields mt-1">
          <h1 class="display-4">{{title}}</h1>
          <p class="lead">{{text}}</p>
        </div>
        {{/with}}
        {{#with firstPart}}
        <h2 class="mx-auto mt-3"><b>{{title}}</b></h2>
        <section class="col-12 startPageFirstPart mt-2" id="testing">
          <div class="row startPageImgArea">
          <div class="col-lg-7 d-none d-lg-block bg-primary imgFirstPart">
            <img src="/assets/img/index/{{image}}" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5 col-12 startPageFirstPartTextArea mt-3 p-3">
            <h4><b>{{textOne}}</b></h4>
            <h4>{{textTwo}}</h4>
            <a href="/products/{{btnLink}}" class="btn bg-dark mb-2 text-light">{{btnText}}</a>
          </div>
          <div class="col-lg-5 col-12 d-none d-lg-block startPageFirstPartEmptyDiv"></div>
          </div>
        </section>
        {{/with}}
        {{#with secondPart}}
        <h2 class="mx-auto mt-3"><b>{{title}}</b></h2>
        <section class="col-12 startPageFirstPart mt-2" id="testing">
          <div class="row startPageImgArea">
          <div class="col-lg-6 col-12  text-dark startPageSecondPartTextArea mt-3 p-3">
            <h4><b>{{textOne}}</b></h4>
            <p>{{textTwo}}</p>
            <a href="/products/{{btnLink}}" class="btn bg-dark mb-2 text-light">{{btnText}}</a>
          </div>
          <div class="col-lg-6 col-12 d-none d-lg-block startPageFirstPartEmptyDiv"></div>
          <div class="col-lg-6 d-none d-lg-block bg-primary imgFirstPart">
            <img src="/assets/img/index/{{image}}" alt="" class="img-fluid">
          </div>
          </div>
        </section>
        {{/with}}
        {{#with thirdPart}}
        <h2 class="mx-auto mt-3"><b>{{title}}</b></h2>
        <section class="col-12 startPageFirstPart mt-2" id="testing">
          <div class="row startPageImgArea">
          <div class="col-lg-7 d-none d-lg-block bg-primary imgFirstPart">
            <img src="/assets/img/index/{{image}}" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5 col-12  startPageFirstPartTextArea mt-3 p-3">
            <h4><b>{{textOne}}</b></h4>
            <p>{{textTwo}}</p>
            <a href="/products/{{btnLink}}" class="btn bg-dark mb-2 text-light">{{btnText}}</a>
          </div>
          <div class="col-lg-5 col-12 d-none d-lg-block startPageFirstPartEmptyDiv"></div>
          </div>
        </section>
        {{/with}}
      </div>
    </div>
  </main>
  {{>footer}} {{>scripts}}
</body>

</html>
