<!DOCTYPE html>
<html>
	{{>head}}
	<body>
		{{>header}}
		<main>
			<div class="container">
			{{#with first_part}}
			<h1>{{header}}</h1>
			<section class="row">
				<div class="card-deck col-12">
						{{#each cards}}
						<div class="card border-0">
							<h2>{{header}}</h2>
							<img class="card-img-top img-fluid" src="/assets/img/{{image}}" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">{{title}}</h5>
								<p class="card-text">{{text}}</p>
								<a href="{{link}}" class="btn btn-primary">{{linkText}}</a>
							</div>
						</div>
						{{/each}}
					</div>
				</section>
			{{/with}}
			{{#with second_part}}
			<h1 class="text-center mb-2 mt-2">{{header}}</h1>
			<section class="row mt-4">
				<div class="card-deck col-12">
						{{#each cards}}
						<div class="card border-0 " id="workshopCards">
							<img class="card-img-top img-fluid" src="/assets/img/{{image}}" alt="Card image cap">
							<div class="card-body">
								<h4 class="card-title">{{title}}</h4>
								<p class="card-text">{{text}}</p>
							</div>
							<div class="card-footer border-0">
								<a href="{{link}}" class="btn btn-primary">{{linkText}}</a>
					    </div>
						</div>
						{{/each}}
					</div>
				</section>
			{{/with}}
			</div>
		</main>
		{{>footer}}
		{{>scripts}}
	</body>

</html>
