<!DOCTYPE html>
<html>
	{{>head}}
	<body>
		{{>header}}
		<main>
			<div class="container">
				<div class="row mx-auto" id="programingCoach">
					{{#with programingCoach}}
					<div class="jumbotron jumbotron-fluid mx-auto mt-3 img-fluid" id="programingCoachJumbotron" style="background-image: url(/assets/img/{{image}});">
						<div class="container">
							<h1 class="text-light">{{header}}</h1>
							<p class="lead text-light">{{jumbotronText}}</p>
						</div>
					</div>
					<div class="row">
						<section class="col-12">
							{{#each items}}
							<h4>{{heading}}</h4>
								{{#each texts}}
								<p>{{text}}</p>
								{{/each}}
							{{/each}}
						</section>
					</div>
					{{/with}}
				</div>
			</div>

		</main>
		{{>footer}}
		{{>scripts}}
	</body>

</html>
