<!DOCTYPE html>
<html>
{{>head}}

<body>
  {{>header}}
  <main>
    <div class="container">
      <div class="row mx-auto" id="workshopHalf">
        {{#with workshopHalf}}
          <div class="jumbotron jumbotron col-lg-10 col-12 mx-auto mt-3 img-fluid" id="workshopHalfJumbotron" style="background-image: url(/assets/img/{{image}});">
            <div class="container">
              <h1 class="text-light">{{header}}</h1>
            </div>
          </div>
          <div class="row">
            <section class="col-lg-8 col-12 mx-auto">
              {{#each items}}
                <h4>{{heading}}</h4>
                {{#each texts}}
                  <p>{{text}}</p>
                {{/each}}
              {{/each}}
              <p><b>{{memberNumber}}</b></p>
              <p><b>{{price}}</b></p>
            </section>
          </div>
        {{/with}}
      </div>
    </div>
  </main>
  {{>footer}} {{>scripts}}
</body>

</html>